<?xml version="1.0" ?>
<config xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xsi:noNamespaceSchemaLocation="urn:magento:module:Magento_Store:etc/config.xsd">
	<default>
		<payment>
			<utrust>
				<active>0</active>
				<model>Utrust\Payment\Model\Payment\Utrust</model>
				<order_status>pending</order_status>
				<title>Utrust – Pay with crypto</title>
				<instructions>You will be redirected to the Utrust payment widget compatible with any major crypto wallets. It will allow you to pay for your purchase in a safe and seamless way using Bitcoin, Ethereum, Tether or a number of other currencies.</instructions>
				<allowspecific>0</allowspecific>
				<group>offline</group>
				<currency>USD,EUR,GBP,ARS,AUD,BRL,CAD,CLP,CNY,CZK,DKK,DOP,HKD,HUF,INR,IDR,ILS,JPY,KRW,MYR,MXN,NZD,NOK,PKR,PHP,PLN,RON,RUB,SGD,ZAR,SEK,CHF,TWD,THB,AED</currency>
				<restricted_country_codes>AF,AQ,BS,BB,BW,BV,KH,CF,CD,CU,GH,IR,IQ,JM,KP,XK,LY,MR,MU,MN,MM,NI,PK,PA,SO,SS,SD,SY,TT,UG,VU,VE,YE,ZW</restricted_country_codes>
			</utrust>
		</payment>
	</default>
</config>
