<?xml version="1.0" ?>
<config xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xsi:noNamespaceSchemaLocation="urn:magento:module:Magento_Store:etc/config.xsd">
	<default>
		<payment>
			<utrust>
				<active>1</active>
				<model>Utrust\Payment\Model\Payment\Utrust</model>
				<order_status>pending</order_status>
				<title>Utrust</title>
				<allowspecific>0</allowspecific>
				<group>offline</group>
			</utrust>
		</payment>
	</default>
</config>
