<?xml version="1.0"?>

<config xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
        xsi:noNamespaceSchemaLocation="urn:magento:framework:ObjectManager/etc/config.xsd">
    <type name="Utrust\Payment\Logger\Handler">
        <arguments>
            <argument name="filesystem" xsi:type="object">Magento\Framework\Filesystem\Driver\File</argument>
        </arguments>
    </type>
    <type name="Utrust\Payment\Logger\Logger">
        <arguments>
            <argument name="name" xsi:type="string">utrust</argument>
            <argument name="handlers"  xsi:type="array">
                <item name="system" xsi:type="object">Utrust\Payment\Logger\Handler</item>
            </argument>
        </arguments>
    </type>

    <type name="Utrust\Payment\Gateway\Config">
        <arguments>
            <argument name="config"  xsi:type="array">
                <item name="api_url" xsi:type="string">https://merchants.api.utrust.com/api</item>
                <item name="api_url_sandbox" xsi:type="string">https://merchants.api.sandbox-utrust.com/api</item>
            </argument>
        </arguments>
    </type>
</config>
