<?xml version="1.0" ?>
<config xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xsi:noNamespaceSchemaLocation="urn:magento:module:Magento_Config:etc/system_file.xsd">
	<system>
		<section id="payment" showInDefault="1" showInStore="1" showInWebsite="1" sortOrder="1000" translate="label">
			<group id="utrust" showInDefault="1" showInStore="1" showInWebsite="1" sortOrder="10" translate="label">
                <label>Utrust</label>
                <comment><![CDATA[
                	<table>
                		<td style="display: inline-block; vertical-align: middle; margin: 0 20px 0 0px;">
                			<a href="https://utrust.com">
                    			<img src="https://assets.utrust.com/logo-kit/png/logo/no-background/business-blue/logo-business-color-no-bg@2x.png" style="padding-left: 2rem;" alt="Utrust" />
                    		</a>
                    	</td>
                    	<td style="display: inline-block; vertical-align: middle; width: 50%;">
		                    Accept crypto payments, easily.
                    	</td>
                   	</table>
                ]]></comment>
				<field id="active" showInDefault="1" showInStore="1" showInWebsite="1" sortOrder="20" translate="label" type="select">
					<label>Enabled</label>
					<source_model>Magento\Config\Model\Config\Source\Yesno</source_model>
				</field>

				<group id="checkout_flow" showInDefault="1" showInStore="1" showInWebsite="1" sortOrder="30" translate="label">
					<label>Checkout Flow</label>
					<field id="flow" translate="label" type="select" sortOrder="31" showInDefault="1" showInWebsite="1" showInStore="1">
						<label>Pre-Order</label>
	                    <comment><![CDATA[Select <b>Yes</b> Pre-Order Checkout Processing, <b>No</b> For Default Checkout Flow.]]></comment>
						<source_model>Magento\Config\Model\Config\Source\Yesno</source_model>
					</field>
				</group>

				<group id="credentials" showInDefault="1" showInStore="1" showInWebsite="1" sortOrder="30" translate="label">
					<label>Credentials</label>
					<comment><![CDATA[
						You need an Utrust Merchant account to start accepting crypto payments on your Magento store.</br>
						Please signup on 
							<a href="https://merchants.sandbox-utrust.com" target="_blank">Test</a> 
							and/or 
							<a href="https://merchants.utrust.com" target="_blank">Live</a>
						environment.
					]]></comment>
					<field id="sandbox" translate="label" type="select" sortOrder="31" showInDefault="1" showInWebsite="1" showInStore="1">
						<label>Test mode</label>
	                    <comment><![CDATA[Select <b>Yes</b> for testing (Sandbox), <b>No</b> when you are ready to go live (Production).]]></comment>
						<source_model>Magento\Config\Model\Config\Source\Yesno</source_model>
					</field>
					<field id="api_key" showInDefault="1" showInStore="1" showInWebsite="1" sortOrder="32" translate="label" type="text">
						<label>Api Key</label>
					</field>
					<field id="webhook_secret" showInDefault="1" showInStore="1" showInWebsite="1" sortOrder="33" translate="label" type="password">
						<label>Webhook Secret</label>
					</field>
				</group>
				<group id="options" showInDefault="1" showInStore="1" showInWebsite="1" sortOrder="40" translate="label">
					<label>Options</label>
					<field id="order_status" showInDefault="1" showInStore="1" showInWebsite="1" sortOrder="41" translate="label" type="select">
						<label>New Order Status</label>
						<source_model>Magento\Sales\Model\Config\Source\Order\Status\NewStatus</source_model>
					</field>
					<field id="allowspecific" showInDefault="1" showInStore="1" showInWebsite="1" sortOrder="42" translate="label" type="allowspecific">
						<label>Payment from Applicable Countries</label>
						<source_model>Magento\Payment\Model\Config\Source\Allspecificcountries</source_model>
						<config_path>payment/utrust/allowspecific</config_path>
					</field>
					<field id="specificcountry" showInDefault="1" showInStore="1" showInWebsite="1" sortOrder="43" translate="label" type="multiselect">
						<label>Payment from Applicable Countries</label>
						<source_model>Utrust\Payment\Config\Source\Country</source_model>
						<can_be_empty>1</can_be_empty>
						<config_path>payment/utrust/specificcountry</config_path>
					</field>
				</group>
				<group id="frontend" showInDefault="1" showInStore="1" showInWebsite="1" sortOrder="50" translate="label">
					<label>Frontend</label>
					<comment><![CDATA[This will be displayed to the customer on the Checkout page.]]></comment>
					<field id="title" showInDefault="1" showInStore="1" showInWebsite="1" sortOrder="41" translate="label" type="text">
						<label>Title</label>
						<config_path>payment/utrust/title</config_path>
					</field>
					<field id="instructions" showInDefault="1" showInStore="1" showInWebsite="1" sortOrder="52" translate="label" type="textarea">
						<label>Instructions</label>
						<config_path>payment/utrust/instructions</config_path>
					</field>
				</group>	
			</group>
		</section>
	</system>
</config>
